asgiref==3.8.1
black==24.10.0
click==8.1.7
Django==5.0.2
django-jazzmin==3.0.1
gunicorn==23.0.0
isort==5.13.2
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
sqlparse==0.5.3
tomli==2.2.1
typing_extensions==4.12.2
whitenoise==6.8.2
